:root {
    --button-background-light: #3f51b5;
    --button-background-dark: #f50057;
    --handle-background-light: #ffffff;
    --handle-background-dark: #000000;
  }
  
  .switch {
    width: 80px;
    height: 40px;
    background-color: var(--button-background-light);
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
    background-color: var(--button-background-dark);
  }
  
  .handle {
    width: 30px;
    height: 30px;
    background-color: var(--handle-background-light);
    border-radius: 15px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .switch[data-isOn="true"] .handle {
    background-color: var(--handle-background-dark);
  }
  